<head>
<link rel="stylesheet" type="text/css" href="css/account.css">
</head>

<div class="container">
	<div class="page-header center-block">
		<h1>Hello, @{{user.name}}!</h1>
		<h2>{{req.user.provider}}</h2> <!-- NOT WORKING -->
		<img class="img-responsive img-circle center-block" src="//graph.facebook.com/{{user.id}}/picture?type=large">
	</div>

	<h3>Profile statics</h3>
	<p><strong>ID:</strong> {{user.id}}</p>
	<p><strong>Name: </strong>{{user.name}}</p>
	<p><strong>Instagram ID: </strong>{{user.ig_id}}</p>

</div>